<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Te lo recomendamos</h1>
    <!--<p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>-->
  </div>
</div>
<ul class="navbar nav pt-4">
  <li class="nav-item">
    <div class="card">
      <div class="card-header">
        Caballeros
      </div>
      <div class="card-body shadow p-3 mb-5 bg-white rounded">
        <h5 class="card-title">Special title treatment</h5>
        <img class="rounded float-left" src="https://m.media-amazon.com/images/I/81IEZzMNHvL._AC_UL320_.jpg">
        <a href="#" class="btn btn-dark material-icons">shopping_cart</a>
      </div>
    </div>
  </li>
  <li class="nav-item">
    <div class="card">
      <div class="card-header">
        Caballeros
      </div>
      <div class="card-body shadow p-3 mb-5 bg-white rounded">
        <h5 class="card-title">Special title treatment</h5>
        <img class="rounded float-left" src="https://m.media-amazon.com/images/I/71E-da15kHL._AC_UL320_.jpg">
        <a href="#" class="btn btn-dark material-icons">shopping_cart</a>
      </div>
    </div>
  </li>
  <li class="nav-item">
    <div class="card">
      <div class="card-header">
        Damas
      </div>
      <div class="card-body shadow p-3 mb-5 bg-white rounded">
        <h5 class="card-title">Special title treatment</h5>
        <img class="rounded float-left" src="https://m.media-amazon.com/images/I/71E-da15kHL._AC_UL320_.jpg">
        <a href="#" class="btn btn-dark material-icons">shopping_cart</a>
      </div>
    </div>
  </li>
</ul>
