<ul class="nav bg-bar-category justify-content-center">
  <li class="nav-item">
    <a class="nav-link active bg-text-bar-category" href="#">Franelas</a>
  </li>
  <li class="nav-item">
    <a class="nav-link bg-text-bar-category" href="#">Zapatos</a>
  </li>
  <li class="nav-item">
    <a class="nav-link bg-text-bar-category" href="#">Accesorios</a>
  </li>
  <li class="nav-item">
    <a class="nav-link bg-text-bar-category" href="#">Playa</a>
  </li>
  <li class="nav-item">
    <a class="nav-link bg-text-bar-category" href="#">Deportivo</a>
  </li>
</ul>
